{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" media="all">

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<script type="text/javascript">
    function check(obj) {
        next_val=0;
         if(obj.checked) {
             next_val = parseFloat( document.getElementById('id_valor_pago').value ) + parseFloat( obj.getAttribute('valor').replace(',','.') );
             document.getElementById('id_valor_pago').value = next_val.toFixed(2);
             //window.alert( next_val );
         } else {
             next_val = parseFloat( document.getElementById('id_valor_pago').value ) - parseFloat( obj.getAttribute('valor').replace(',','.')) ;
             document.getElementById('id_valor_pago').value = next_val.toFixed(2);
             //window.alert( next_val );
         }
        label_text = 'R$ ' + next_val.toFixed(2);
        document.getElementById('id_label_total').innerHTML = label_text.replace('.',',');

    };
</script>

{{ form.media }}
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/admin/">Início</a>
&rsaquo; <a href="/admin/cadastro/">Cadastro</a>
&rsaquo; <a href="/admin/cadastro/prestacaoservico/">Prestacao Servico</a>
&rsaquo; Pagamento
</div>
{% endblock %}


{% block content %}
<div id="content" class="colM">
<h1>Pagamento</h1>
<div id="content-main">

{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

<form action="{% url prestacao-servico-pagamento-list %}" method="post" > {% csrf_token %}
{{ form.valor_pago }}

        <fieldset class="module aligned ">
            <div class="form-row field-{{ form.cliente.name }}">
                <div>
                {{ form.cliente.errors }}
                {{ form.cliente.label_tag }}: {{ form.cliente }} &nbsp;   <input type="submit" value="Buscar Servicos e Pacotes nao pagos pelo cliente" name="Buscar" class="default" />
                </div>
            </div>
        </fieldset>

<div class="module filtered" id="changelist">
<table id="result_list">
<thead>
<tr >
    <th scope="col">#</th>
    <th scope="col">Servico</th>
    <th scope="col">Status</th>
    <th scope="col">Data e Hora servico</th>
    <th scope="col">Valor</th>
    <th scope="col">Realizado</th>
</tr>
</thead>
<tbody>
{% for pss in pss_list %}
<tr class="{% cycle row1,row2 %}">
    <td width="10px"><input type="checkbox" name="pss" onclick="check(this)" value="{{ pss.id }}" valor="{{ pss.servico.valor }}" {% if pss in pss_selected_list %}checked{% endif %}/></td>
    <td width="150px">{{ pss.servico }}</td>
    <td width="200px">{{ pss.status }}</td>
    <td width="200px">{{ pss.horario.data}} {{ pss.horario.hora.hora }}</td>
    <td width="100px" style="text-align: right">R$ {{ pss.servico.valor|floatformat:2 }}</td>
    <td width="100px" style="text-align: center">{{ pss.realizado|yesno:"Sim,Nao" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
    <br/>
<div class="module filtered" id="changelist">
<table id="result_list">
<thead>
<tr >
    <th scope="col">#</th>
    <th scope="col">Pacote</th>
    <th scope="col">Ult. servico</th>
    <th scope="col">Data e Hora Ult. servico</th>
    <th scope="col">Valor</th>
    <th scope="col">Realizado</th>
    <th scope="col">NA/A/R</th>
</tr>
</thead>
<tbody>
{% for psc in psc_list %}
<tr class="{% cycle row1,row2 %}">
    <td width="10px"><input type="checkbox" name="psc" onclick="check(this)" value="{{ psc.id }}" valor="{{ psc.pacote_servico.valor }}" {% if psc in psc_selected_list %}checked{% endif %}/></td>
    <td width="150px">{{ psc.pacote_servico }}</td>
    {% if psc.ultimo_servico_realizado %}
        <td width="200px">{{ psc.ultimo_servico_realizado.servico_pacoteservico }}</td>
    {% else %}
        <td width="200px">Serviço não agendado</td>
    {% endif%}
    <td width="200px">{{ psc.ultimo_servico_realizado.horario.data}} {{psc.ultimo_servico_realizado.horario.hora.hora}}</td>
    <td width="100px" style="text-align: right">R$ {{ psc.pacote_servico.valor|floatformat:2 }}</td>
    <td width="100px" style="text-align: center">{{ psc.realizado|yesno:"Sim,Nao,Parcialmente" }}</td>
    <td width="200px">{{ psc.status_servicos.NAO_AGENDADO }} / {{ psc.status_servicos.AGENDADO }} / {{ psc.status_servicos.REALIZADO }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<br/>

{% if form.forma_pagamento  %}
<fieldset class="module aligned ">
    <div class="form-row field-{{ form.forma_pagamento.name }}">
        <div>
        {{ form.forma_pagamento.errors }}
        {{ form.forma_pagamento.label_tag }}: {{ form.forma_pagamento }}
        </div>
    </div>

    <div class="form-row field-valor-total">
        <div>
        <label for="id_label_total">Valor Pagar</label>: <span id="id_label_total">R$ {{ form.valor_pago.value }}</span>
        </div>
    </div>
</fieldset>
{% endif %}


        <div class="submit-row">
            <input type="submit" value="Pagar os Selecionados" name="Pagar" class="default" />
        </div>

        <script type="text/javascript">
        (function($) {
            var field;
        })(django.jQuery);
        </script>
</form>

</div>
</div>
<script type="text/javascript">
    function atualiza_valor_label() {
        next_val = parseFloat( document.getElementById('id_valor_pago').value );
        label_text = 'R$ ' + next_val.toFixed(2);
        document.getElementById('id_label_total').innerHTML = label_text.replace('.',',');

    }
    atualiza_valor_label();
</script>


{% endblock %}

