{% extends "admin/base_clear.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" media="all">

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

{{ form.media }}
{% endblock %}


{% block content %}
<div id="content" class="colM">
<h1>Relatorio de Funcionarios</h1>
<div id="content-main">

{% if imprime_filtro %}
<h2>Filtro</h2>
<form action="{% url relatorio-funcionario %}" method="post" target="_self"> {% csrf_token %}

        <fieldset class="module aligned ">

            {% for field in form %}
                {% if field.name != "imprime_filtro" %}
                <div class="form-row field-{{ field.name }}">
                    <div>
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </fieldset>
        <script type="text/javascript">
        (function($) {
            var field;
        })(django.jQuery);
        </script>
</form>
{% endif %}

<h2>Resultado</h2>
<div class="module filtered" id="changelist">
<table id="result_list">
<thead>
<tr >
    <th scope="col">Nome</th>
    <th scope="col">Telefone</th>
    <th scope="col">Email</th>
    <th scope="col">Logradouro</th>
    <th scope="col">Status</th>
    <th scope="col">Cargo</th>
    <th scope="col">Data Nascimento</th>
    <th scope="col">Especialidades</th>
</tr>
</thead>
<tbody>
{% for f in object_list %}
<tr class="{% cycle row1,row2 %}">
    <td width="30%">{{ f.nome }}</td>
    <td width="100px">{{ f.telefone|default_if_none:"-" }}</td>
    <td width="100px">{{ f.email|default_if_none:"-" }}</td>
    <td width="200px">{{ f.logradouro|default_if_none:"-" }}</td>
    <td width="100px">{{ f.status }}</td>
    <td width="200px">{{ f.cargo }}</td>
    <td width="200px">{{ f.data_nascimento }}</td>
    <td width="200px">{% firstof f.especialidades "-" %}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<small>Emitido em {{now}}h linhas retornadas: {{ object_list.count }}</small>
</div>
</div>

{% endblock %}

