{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" media="all">

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

{{ form.media }}
{% endblock %}


{% block content %}
<div id="content" class="colM">
<h1>Relatorio Comissão de Funcionários</h1>
<div id="content-main">

{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

<form action="{% url relatorio-comissao %}" method="post" target="_blank"> {% csrf_token %}

        <fieldset class="module aligned ">

            {% for field in form %}
                <div class="form-row field-{{ field.name }}">
                    <div>
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                    </div>
                </div>
            {% endfor %}

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Gerar Relatorio" class="default" />
        </div>

        <script type="text/javascript">
        (function($) {
            var field;
        })(django.jQuery);
        </script>

</form>
</div>
</div>

{% endblock %}

